label{
  margin:0;
}
/* Add responsive styling to your section */
.inner_banner {
  padding: 20px;
  text-align: center;
}

.university {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #f6f6f6;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 80%;
}
.university-section-description{
  width: 48rem;
}


.university-wrapper {
  display: flex;
  max-width:500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding:2% 0 ;
}

.university-wrapper div {
  display:flex;
  flex-direction:column;
  width: min(95%,36rem);
}
.university-wrapper label {
  color: black;
  padding:0;
}


.university-wrapper select {
  border-radius: 0.3rem;
  padding: 10px;
  width:100%;
}

.form-info{
  width:100%;
  word-wrap:break-word;
  font-size:0.8rem;
}


.university-button{
  padding:0.75rem 1rem;
  background:#095a83;
  color:white;
  border-radius:0.4rem;
  font-weight:bold;
  transition: all ease-in-out 200ms;
  

}
.university-button-wrapper{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.university-button-wrapper a {
  width:fit-content;
}
.university-button:hover{
  color:white;
  background:#002147;
}

.droplist-university-1 {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  color: white;
}

.droplist-university {
  font-size: 1rem;
  width: 100%;
}

.btn {
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .droplist-university-1 {
    font-size: 1rem;
    /* Adjust font size for smaller screens */
  }

  .droplist-university {
    font-size: 0.9rem;
    /* Adjust font size for smaller screens */
    max-width: 100%;
    /* Ensure dropdown takes full width on small screens */
  }

  .btn {
    width: 120px;
    /* Adjust button width for smaller screens */
  }
}

@media (max-width: 575px) {
  .droplist-university-1 {
    font-size: 0.9rem;
    /* Further adjustment for very small screens */
  }

  .droplist-university {
    font-size: 0.8rem;
    /* Further adjustment for very small screens */
  }

  .btn {
    width: 100px;
    /* Further adjustment for very small screens */
  }
}